body {
    font-size: 16px;
    color: #2b283a;
    font-family: 'Roboto', 'sans-serif';
    margin: 0;
}

/* HEADERS */

h1,
h3 {
    margin: 0;
}

h1 {
    color: whitesmoke;
    font-size: 36px;
}

h2 {
    margin-top: 0;
}

h3 {
    color: #7D5614;
    font-size: 20px;
}

p {
    line-height: 23px;
}


/* LINKS */

a {
    color: #ef5839;
    text-decoration: underline dotted;
}

a:hover,
a:active {
    color: #d4b44c;
}

.btn {
    padding: 10px 19px;
    border-radius: 4.6px;
    font-weight: 500;
    text-decoration: none;
    display: inline-block;
}

.btn-dark {
    background-color: #b97f18;
    color: whitesmoke;
}

.btn:hover,
.btn:active {
    background-color: #D19921;
    color: #000000;
}

.btn-mid {
    background-color: #58442C;
}

.btn-mid,
.btn-light {
    color: #b97f18;
}

.btn-light {
    background-color: #F4F4F4;
}

/* LAYOUT */

header,
section,
footer {
    padding: 45px 0;
}

header,
.section-two {
    background-color: #b97f18;
}

.section-two {
    color: whitesmoke;
}

.container {
    width: 620px;
    margin: 0 auto;
}

.sneakers {
    width: 100%;
}

.img-container {
    display: flex;
    justify-content: space-between;
}

.section-two-img {
    width: 300px;
    border-radius: 4.6px;
}

footer {
    text-align: center;
    color: #b97f18;
}